{% extends "main/base.html" %}

{% block title %}
Востребованность
{% endblock %}

{% block menu %}
    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link" aria-current="page">
            Главная страница
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'demand' %}" class="nav-link active" aria-current="page">
            Востребованность
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'geography' %}" class="nav-link" aria-current="page">
            География
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'skills' %}" class="nav-link" aria-current="page">
            Навыки
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'recvac' %}" class="nav-link" aria-current="page">
            Последние вакансии
        </a>
    </li>
{% endblock %}

{% block content %}
    <h1>Востребованность</h1>
{% endblock %}


{% block endcontent %}
    {% for el in dataDemand %}
        {% include el.html_top.path %}
        <img class="container" src={{ el.pic_center.url }}>
        {% include el.html_bot.path %}
    {%  endfor %}
{% endblock %}