{% extends "main/base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block menu %}
    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link active" aria-current="page">
            Главная страница
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'demand' %}" class="nav-link" aria-current="page">
            Востребованность
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'geography' %}" class="nav-link" aria-current="page">
            География
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'skills' %}" class="nav-link" aria-current="page">
            Навыки
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'recvac' %}" class="nav-link" aria-current="page">
            Последние вакансии
        </a>
    </li>
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
{% endblock %}

{% block endcontent %}
    {% for el in data %}
        {% if el.html_top %}
            {% include el.html_top.path %}
        {% endif %}
        {% if el.pic_center %}
            <img class="img-thumbnail" src={{el.pic_center.url}}>
        {% endif %}
        {% if el.html_bot %}
            {% include el.html_bot.path %}
        {% endif %}
    {%  endfor %}
{% endblock %}